*/__pycache__/*
src/__pycache__/*
.vscode
src/Image/__pycache__/image_class.cpython-311.pyc
src/Image/__pycache__/image_scanner.cpython-311.pyc
src/scratch.py
src/backend/secrets_.py
src/objs/grid/__pycache__/Square.cpython-312.pyc
*.pkl
*/.env
.env